rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow all read, write operations (dev only)
      allow read, write: if true;
    }
  }
}
